<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="tests" thread-count="3">

    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="Test.Checkouttest"/>
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="Test.Checkouttest"/>
        </classes>
    </test>

    <test name="WebkitTest">
        <parameter name="browser" value="webkit"/>
        <classes>
            <class name="Test.Checkouttest"/>
        </classes>
    </test>

</suite>